// sassの変数
// メディアクエリ
// $breakpoint-tablet: 980px;
// $breakpoint-mobile: 640px;
// $breakpoint-s: 340px;
// $breakpoint-m: 768px;
// $breakpoint-l: 1024px;
// $breakpoint-x: 1200px;

// 今まで使ってた設定
// smaller than 3840（1920x2） … 1920pxディスプレイで全画面表示したとき用（一番大きな設定は style.css内が望ましい）
// smaller than 1430 … 一番一般的な設定にする
// smaller than 980 … iPad Mini Retinaの縦サイズが 768x1024 なのでこれに該当
// smaller than 650 … タブレット ～ スマホ用
// smaller than 480 … スマホ用
// smaller than 359 … iPhone5sより一回り大きなGalaxyなんかのディスプレイ w360 に適応させるための設定

// https://www.tam-tam.co.jp/tipsnote/html_css/post10708.html

// 変数の定義
// min-width
$breakpoint-up: (
	'ss': 'screen and (min-width: 340px)',
	'sg': 'screen and (min-width: 360px)',
	'sm': 'screen and (min-width: 576px)',
	'md': 'screen and (min-width: 768px)',
	'lg': 'screen and (min-width: 992px)',
	'xl': 'screen and (min-width: 1200px)',
) !default;

// max-width
$breakpoint-down: (
	'ss': 'screen and (max-width: 339px)',
	'sg': 'screen and (max-width: 359px)',
	'sm': 'screen and (max-width: 575px)',
	'md': 'screen and (max-width: 767px)',
	'lg': 'screen and (max-width: 991px)',
	'xl': 'screen and (max-width: 1119px)',
) !default;

// @mixinの定義
@mixin mq-up($breakpoint: md) {
	@media #{map-get($breakpoint-up, $breakpoint)} {
		@content;
	}
}

@mixin mq-down($breakpoint: md) {
	@media #{map-get($breakpoint-down, $breakpoint)} {
		@content;
	}
}


$ss: 340px;
$sg: 360px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

// @mixin mq-max($break-point) {
// 	@media screen and (max-width: $break-point) {
// 		@content;
// 	}
// }

// @mixin mq-min($break-point) {
// 	@media screen and (min-width: $break-point) {
// 		@content;
// 	}
// }

@mixin screen($break-point-min, $break-point-max) {
	@media screen and (min-width: $break-point-min) and (max-width: $break-point-max) {
		@content;
	}
}

// commitテストのためのコメント入れ






